@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html , body , #root {
    height: 100% !important;
    width: 100% !important;
}

.nav-link {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #031D44;
  padding: 20px 0px;
  margin: 0px 10px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #031D44;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 15px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

.button_slide {
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}
.slide_right:hover {
  box-shadow: inset 600px 0 0 0 #81a9e9;
  color: #fff;
}


.sidebar {
  width: 50%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -50%;
  background-color: #fff;
  transition: left 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.sidebar.open {
  left: 0;
}

.close-button {
  margin: 10px;
  float: right;
}


